@keyframes placeholderMarquee {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.animatePlaceholder::placeholder {
    display: inline-block;
    white-space: nowrap;
    animation: placeholderMarquee 3s linear infinite;
}