/* styles.css hoặc file CSS của bạn */
@tailwind base;
@tailwind components;
@tailwind utilities;


select option[value=""] {
    color: gray;
}

.NavbarUser {
    padding-top: 56px;
    /* Chiều cao của NavBar */
}

.HighNavbar {
    height: 56px;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Ẩn scrollbar trên Chrome, Edge, Safari */
.profileW {
    max-width: 1000px;
}

.shadowContent {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);

}

.fixed-section {
    max-height: calc(100vh - 100px);
    /* Điều chỉnh giới hạn chiều cao */
    overflow: hidden;
    /* Không cuộn */
}

.scroll-section {
    max-height: calc(100vh - 100px);
    /* Giới hạn chiều cao */
    overflow-y: auto;
    /* Cho phép cuộn dọc */
}
/* Ẩn thanh cuộn trên Chrome, Edge, Safari */
.scroll-section::-webkit-scrollbar {
    display: none;
  }
  
  /* Ẩn thanh cuộn trên Firefox */
  .scroll-section {
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE & Edge */
  }
  