/* styles.css hoặc file CSS của bạn */
@tailwind base;
@tailwind components;
@tailwind utilities;


select option[value=""] {
    color: gray;
}

.NavbarUser {
    padding-top: 56px;
    /* Chiều cao của NavBar */
}

.HighNavbar {
    height: 56px;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Ẩn scrollbar trên Chrome, Edge, Safari */

